services:
  cpu:
    image: kagurazakanyaa/comfyui:cpu
    build:
      context: .
      dockerfile: cpu.dockerfile
      network: host
    ports:
      - 8188:8188/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/data

  rocm:
    image: kagurazakanyaa/comfyui:rocm
    build:
      context: .
      dockerfile: rocm.dockerfile
      network: host
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    ports:
      - 8188:8188/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/data

  therock:
    image: kagurazakanyaa/comfyui:therock
    build:
      context: .
      dockerfile: therock.dockerfile
      network: host
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    ports:
      - 8188:8188/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/data

  cuda:
    image: kagurazakanyaa/comfyui:cuda
    build:
      context: .
      dockerfile: cuda.dockerfile
      network: host
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ "gpu" ]
              driver: nvidia
              device_ids: [ "0" ]
    ports:
      - 8188:8188/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/data
